@model IEnumerable<InstituteMvcApp.Models.Batch>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@*
@{
    //string role = (string)ViewData["role"];
    string role = (string)ViewBag.Role;
    if (role == "Admin")
    {
        <p>
            <a asp-action="Create">Create New</a>
        </p>
    }
}
*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BatchCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BatchCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  bc=item.BatchCode }) |
                    @Html.ActionLink("Details", "Details", new { bc = item.BatchCode }) |
                    @Html.ActionLink("Delete", "Delete", new { bc = item.BatchCode }) |
                    @Html.ActionLink("By Course Code", "ByCourseCode", new { cc = item.CourseCode })
            </td>
        </tr>
}
    </tbody>
</table>
